@use "../abstracts" as abs;

/*------------------------------*\
    #helpers 
\*------------------------------*/

// general container to align the content
.container {
  max-width: 21rem;
  margin: 0 auto;
  padding: 0 1.55rem;

  @include abs.respond-to("tablet") {
    max-width: 33.8125rem;
  }
}

// show the content only to screen reader
.sr-only {
  position: absolute;
  left: -9999px;
  height: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hide {
  display: none;
}
