@use "../abstracts/variables";

/*------------------------------*\
    #resets
\*------------------------------*/

/*|| general styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

/*|| resetting the default styles for link states*/
a,
a:visited,
a:focus,
a:active {
  text-decoration: none;
}

button {
  border: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
}

/*|| reset the default styles on focus state but not when tabbed */
button,
a {
  cursor: pointer;
  &:focus {
    outline: max(1, 0.1em) solid;
    outline-offset: -0.25em;
  }

  &:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: max(1, 0.1em) solid;
    outline-offset: -0.25em;
  }
}

/*|| Remove all animations and transitions
for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
