@use "../abstracts" as abs;

/*------------------------------*\
    #main
\*------------------------------*/

body {
  background: url("../assets/images/bg-pattern.svg") top / 100% 52% no-repeat;
}

.main {
  &-wrapper {
    margin-bottom: 4rem;
  }

  /*------------------------------*\
    #main tablet 
\*------------------------------*/
  @include abs.respond-to("tablet") {
    &-wrapper {
      margin-bottom: 5.7rem;
    }
  }
}
